<div class="container">
    <h1 class="title"> Problema 1 </h1>

    <p>
Para cada função f(n) e cada tempo t na tabela a seguir, determine o maior tamanho n de um problema
que pode ser resolvido no tempo t, supondo-se que o algoritmo para resolver o problema
demore f(n) microssegundos. 
    </p>

    <pre>
        <code>
                   | 1 segundo | 1 minuto | 1 hora | 1 dia | 1 mês | 1 ano | 1 século
            lg n   |
            sqrt(n)|
            n      |
            n lg n |
            n²     |
            n³     |
            2^n    |
            n!     |
        </code>
    </pre>

    <button onclick="Run()" class="btn btn-theme btn-block" > Run Problema </button>

    <script src="/public/javascripts"></script>
</div>